body{
    background-color:#6060A9;
    font-family: Arial, Helvetica, sans-serif;

}
#form-area{
    background-color: rgb(218, 218, 218);
    text-align: center;
    padding: 30px;
    margin:20px;
}
.line{
    color: gray;
    margin: 0px 20px;
}
.btn{
    padding: 5px 20px;
    margin: 10px 15px;
}
#error-message{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    display: none;
}
#cache-statement{
    font-weight: bold;
    text-align: center;
    padding: 10px;
    display: none;
}
#options{
    margin: 20px;
    background-color: rgb(218, 218, 218);
    padding: 20px;
    padding-left: 0px;
    display: none;
}
.query-tab{
    margin: 20px 0px;
    padding: 20px;
    cursor: pointer;
}
#search-history{
    font-weight: bold;
}
#output-area{
    margin: 20px;
}
table, td{
    border: 1px solid Black;
    border-collapse: collapse;
}
table {
    width: 100%;
}
.row-name{
    background-color: rgb(218, 218, 218);
    font-weight: bold;
    padding: 5px 5px;
    width: 20%;

}
.row-data{
    background-color: white;
    text-align: center;
}
.time-header{
    background-color: rgb(218, 218, 218);
    border: 1px solid Black;
    border-collapse: collapse;
}
.time-header:first-child{
    visibility: hidden;
    border: hidden;
    border-right: 1px solid Black;
}
.row-timestamp{
    background-color: white;
    text-align: center; 
    width: 20%;
}
#description{
    display: -webkit-box;
    display: box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp: 5;
    -webkit-line-clamp: 5;
}